.profile__add-button {
  min-width: 150px;
  min-height: 50px;
  border: 1px solid #FFFFFF;
  background: #000000;
  margin: 0 0 0 auto;
  padding: 0;
}

.profile__add-button:hover {
  opacity: .6;
  cursor: pointer;
}

@media screen and (max-width: 767px) {

  .profile__add-button {
    min-width: 282px;
    margin: 0 auto;
  }

}
